/****************************** FONT FACE *************************************/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?my1vva');
    src:  url('fonts/icomoon.eot?my1vva#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?my1vva') format('truetype'),
        url('fonts/icomoon.woff?my1vva') format('woff'),
        url('fonts/icomoon.svg?my1vva#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*************************** Style global *********************/
* {
    font-family: 'arial', sans-serif;
}

aside{
    float:left;
    width:30%;

}
#map{
    display: block;
    width: 70%;
    float:left;
    position: relative;
}


/************************ zoom **********************/ 
.ol-zoom{
    top: .5em;
    left: .5em;
    position: absolute;
    padding: 2px;
    background-color: #7ccd83;
    opacity: 50%;
}

.ol-control button{
    display: block;
    background-color: #d6f3d9;
    margin: 0.5px;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    line-height: .4em;
    border: none;
}


.resTemplate{
    display: none;
}

/****************************** Responsive *********************************/
@media screen and (max-width: 41em){
    aside:before{
        font-size: 1.5em;    
        width: 50%;
        display: block;
        float: left;
        speak: none;
        font-family: icomoon;
        content: "\e9bf";

    }

    #map{
        display: block;
        width: 50%;
        float:right;
        position: relative;
    }
}