aside{
    float:left;
    width:30%;
}
#map{
    display: block;
    width: 70%;
    float:left;
    position: relative;
}

button{
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
}
.resTemplate{
    display: none;
}