/****************************** FONT FACE *************************************/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?my1vva');
    src:  url('fonts/icomoon.eot?my1vva#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?my1vva') format('truetype'),
        url('fonts/icomoon.woff?my1vva') format('woff'),
        url('fonts/icomoon.svg?my1vva#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*************************** Style global *********************/
* {
    font-family: 'futura', sans-serif;
    box-sizing: border-box;
}
body,html{
  height: 100%;
  padding:0;
  margin:0;
}

aside{
    float:left;
    width:30%;
    padding: 0 0.5%;
}

.RechercheCabanes{
    margin-bottom: 15px;
}
.RechercheCabanes input{
  font-size: 18px;
  width:100%;
  height: 50px;
  margin-bottom: 12px;
}
.RechercheCabanes button{
  height: 50px;
  font-size: 18px;
  margin:0;
  padding:0;
  width: 100%;
}

header{
  height:8%;
  padding:0.5% 0;
  text-align: center;
}
header img{
    height:85%;
    width: auto;
    margin: 0 auto;
}
section.content{
  height:90%;
}
.results .result, .hutResults .result{
  height: 50px;
}
.results div:nth-child(even){
  background: #ccc;
}
.place{
    display: block;
    height: 100%;
    padding: 0 2%;
    text-decoration: none;
    color: #562703;
    line-height: 50px;
}

.place:hover{
    color: #d98647;
}
.place.current{
  color:#37bf21;
}

#map{
    display: block;
    width: 70%;
    height: 100%;
    float:left;
}


/************************ zoom **********************/
.ol-zoom{
    top: .5em;
    left: .5em;
    position: absolute;
    padding: 2px;
    background-color: #7ccd83;
    opacity: 50%;
}

.ol-control button{
    display: block;
    background-color: #d6f3d9;
    margin: 0.5px;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    line-height: .4em;
    border: none;
}


.resTemplate{
    display: none;
}

/* Style for the info popup */
.ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

/****************************** Responsive *********************************/
@media screen and (max-width: 41em){
    div.icon:before{
        font-size: 1.5em;
        display: block;
        float: left;
        speak: none;
        font-family: icomoon;
        content: "\e9bf";
    }

    div.icon:hover:before{
        color: #009933;
    }

    aside{
        display: none;
    }
    aside.hidden{
      width:0%;
    }


    #map{
        display: block;
        width: 100%;
        float:right;
        position: relative;
    }
    #map.half{
      width:50%;
    }

}
